<app-navbar [selectedEmployee]="selectedEmployee"></app-navbar>
<div class="container">

  <h2>Employee Dashboard</h2>

  <!-- Filters -->
  <div class="filters">
    <input
    type="text"
    placeholder="Search Name"
    [(ngModel)]="filters.name"
   />

<select [(ngModel)]="filters.status" >
  <option value="">All Status</option>
  <option value="ACTIVE">Active</option>
  <option value="INACTIVE">Inactive</option>
</select>

<input
  type="number"
  placeholder="Department ID"
  [(ngModel)]="filters.departmentId"
/>

<input
  type="number"
  placeholder="Min Salary"
  [(ngModel)]="filters.minSalary"
  
/>

<input
  type="number"
  placeholder="Max Salary"
  [(ngModel)]="filters.maxSalary"
  
/>

<input
  type="text"
  class="form-control"
  ngxDaterangepickerMd
  [(ngModel)]="hireDateRange"
  [locale]="{ format: 'YYYY-MM-DD' }"
  [autoApply]="true"
  [showDropdowns]="true"
  placeholder="Select hire date range"
/>

<div class="filter-actions">
  <button type="button" (click)="applyFilters()">
    Apply Filter
  </button>

  <button type="button" class="reset-btn" (click)="resetFilter()">
    Reset
  </button>
  
</div>


  </div>

  <!-- Table -->
  <table id="employeeTable" class="display employee-table">
  <thead>
    <tr>
      <th>Select</th>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th>Department</th>
      <th>Salary</th>
    </tr>
  </thead>
</table>



  <!-- Pagination -->
  <!-- <div class="pagination">
    <button
      (click)="prevPage()"
      [disabled]="pageIndex === 0">
      Previous
    </button>

    <span>
      Page {{ pageIndex + 1 }} of {{ totalPages }}
    </span>

    <button
      (click)="nextPage()"
      [disabled]="pageIndex + 1 >= totalPages">
      Next
    </button>
  </div> -->

</div>
<app-footer></app-footer>