<app-navbar></app-navbar>

<h2>Add Employee</h2>

<form #employeeForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

  <!-- First Name -->
  <label>First Name</label>
  <input
    type="text"
    name="firstName"
    [(ngModel)]="employee.firstName"
    #firstName="ngModel"
    required
  />
  <small class="error" *ngIf="backendErrors?.firstName" class="text-danger">
   {{backendErrors.firstName[0]}}
  </small>

  <!-- Last Name -->
  <label>Last Name</label>
  <input
    type="text"
    name="lastName"
    [(ngModel)]="employee.lastName"
    #lastName="ngModel"
    required
  />
  <small class="error" *ngIf="backendErrors?.lastName">
  {{ backendErrors.lastName[0] }}
</small>

  <!-- Email -->
  <label>Email</label>
  <input
    type="email"
    name="email"
    [(ngModel)]="employee.email"
    #email="ngModel"
    required
    email
  />
  <small class="error" *ngIf="backendErrors?.email">
  {{ backendErrors.email[0] }}
</small>

  <!-- Phone -->
  <label>Phone Number</label>
  <input
    type="text"
    name="phoneNumber"
    [(ngModel)]="employee.phoneNumber"
    #phone="ngModel"
    pattern="^\d{10}$"
    required
  />
  <small class="error" *ngIf="backendErrors?.phoneNumber">
  {{ backendErrors.phoneNumber[0] }}
</small>

  <!-- Department ID -->
  <label>Department ID</label>
  <input
    type="number"
    name="departmentID"
    [(ngModel)]="employee.departmentId"
    #department="ngModel"
    required
    min="1"
  />
  <small class="error" *ngIf="backendErrors?.departmentId">
  {{ backendErrors.departmentId[0] }}
</small>

  <!-- Salary -->
  <label>Salary</label>
  <input
    type="number"
    name="salary"
    [(ngModel)]="employee.salary"
    #salary="ngModel"
    required
    min="1"
  />
  <small class="error" *ngIf="backendErrors?.salary">
  {{ backendErrors.salary[0] }}
</small>

  <!-- Status -->
  <label>Status</label>
  <select
    name="status"
    [(ngModel)]="employee.status"
    #status="ngModel"
    required
  >
    <option [ngValue]="null">Select</option>
    <option value="ACTIVE">ACTIVE</option>
    <option value="INACTIVE">INACTIVE</option>
  </select>
<small class="error" *ngIf="backendErrors?.status">
  {{ backendErrors.status[0] }}
</small>

  <!-- Hire Date -->
  <label>Hire Date</label>
  <input
    type="date"
    name="hireDate"
    [(ngModel)]="employee.hireDate"
    #hireDate="ngModel"
    required
  />
  <small class="error" *ngIf="backendErrors?.hireDate">
  {{ backendErrors.hireDate[0] }}
</small>

  <!-- Submit -->
  <button type="submit" >
    Save Employee
  </button>

</form>

<app-footer></app-footer>
