.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(90deg, #2a160b, #3b1f0f);
  border-top: 2px solid #facc15;

  color: #facc15;
  font-size: 14px;
  font-family: 'Trebuchet MS', sans-serif;

  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
