/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
}

.toast-success {
  background-color: #1f7a1f;
}

.toast-error {
  background-color: #8b0000;
}

.toast-warning {
  background-color: #b8860b;
}

.toast-info {
  background-color: #1e3a8a;
}

.daterangepicker {
  background-color: #1e1e1e;
  color: #fff;
}

.daterangepicker td.available {
  color: #ccc;
}

.daterangepicker td.available:hover {
  background-color: #0d6efd;
  color: #fff;
}

.daterangepicker td.in-range {
  background-color: #2c3e50;
}

.daterangepicker td.active {
  background-color: #0d6efd;
}
